* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #eee;
  a {
    text-decoration: none;
  }
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: 90vh repeat(2, max-content);
  grid-gap: 40px;
}
