.footer {
  background-color: #434343;
  color: #fff;

  height: 20vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  &-content {
    display: flex;
    justify-content: space-between;
  }
}
